<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= show.title %></h1>
    <p>years aired; <%= show.year &></p>
    <p>seasons: <%= show.seasons %></p>
    <a href="/shows">back to all shows</a>
</body>
</html>