<% shows.forEach(show => { %>
    <div>
      <a href="/shows/<%= show.id %>"><%= show.title %></a>
      <span><%= show.year %></span>
      <span><%= show.seasons %> seasons</span>
    </div>
<% }) %>